/* Updated style.css */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #c5c0c0b4;
}

.container {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  background-color: #ffffff80;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.content-wrapper {
  display: flex;
}

h1, h2 {
  text-align: center;
  margin-bottom: 20px;
}

#task-form {
  flex: 1;
  margin-right: 20px;
}

#add-task-form input[type="text"],
#add-task-form select,
#add-task-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

#add-task-form input[type="date"],
#add-task-form input[type="time"] {
  width: calc(50% - 5px); /* Adjust width to fit side by side with margin */
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  display: inline-block; /* Display elements inline */
}

#add-task-form input[type="date"] {
  margin-right: 10px; /* Add margin between date and time input */
}

#add-task-form textarea {
  resize: vertical;
}

#add-task-form button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#add-task-form button:hover {
  background-color: #0056b3;
}

.flexBox {
  display: flex;
}

#task-list {
  flex: 1;
  display: flex; /* Display task list as flex */
  flex-direction: column; /* Align tasks vertically */
}

#tasks {
  list-style-type: none;
  padding: 0;
  margin: 0; /* Remove default margin */
  flex: 1; /* Fill available space */
}

.task {
  background-color: #f0f0f0;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.task.completed {
  background-color: #e6e6e6;
  text-decoration: line-through;
}

.task button {
  margin-left: 10px;
  padding: 5px 10px;
  background-color: #e91328;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.task button:hover {
  background-color: #c82333;
}

/* Additional styles for the paragraph tags */
#totalTasks,
#completedTasks {
  margin: 0;
  padding: 5px;
}

task-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task-buttons {
  display: flex;
}

.task-buttons button {
  margin-left: 10px;
}

.task-details {
  display: none;
}